.item-trend .ct-series line.ct-point {
    stroke-width: 5px;
}
.item-trend .ct-series path.ct-line {
    stroke-width: 3px;
}
.chartist-tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1
}
.chartist-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D
}
.chartist-tooltip-value {
    display: none;
}
