<html>
    <head>
        <link rel="shortcut icon" href="ashioto.ico">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
        
        <!--MaterializeCSS Scripts-->
        <script type="text/javascript" src="{{ static_url("materialize_files/js/materialize.js")}}"></script>
        <!--Import MaterializeCSS stylesheet-->
        <link type="text/css" rel="stylesheet" href="{{static_url("materialize_files/css/materialize.css")}}" media="screen,projection"/>
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <!--Ashioto scripts-->
        <script type="text/javascript" src="{{static_url("js_dashboard/dateformat.js")}}"></script>
        
        <!--Chart.js-->
        <script type="text/javascript" src="{{static_url("chartjs/Chart.js")}}"></script>
        
        <!--Slider-->
        <script type="text/javascript" src="{{static_url("js_dashboard/nouislider.min.js")}}"></script>
        <link href="{{static_url("js_dashboard/nouislider.css")}}" rel="stylesheet">
        
        <title>{{event_title}}</title>
    </head>
    <body>
        <style>
            { margin: 0; padding: 0; }
            html { 
                background: url('/img/{{background}}') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            </style>
        <nav>
            <div class="nav-wrapper {{theme_primary}} z-depth-3">
                <img class="brand-logo center" src="/img/{{logo_name}}" style="width:300px;height:63px;"/>
            </div>
        </nav><br>
        <style>
            .nav-wrapper img{
                display: block;
            }
        </style>
        <div class="container">
            <div class="row" id="cards_head">
                        <div class="card {{theme_accent}} z-depth-3">
                            <div class="card-content {{theme_text}}-text center">
                                <p id="totalCountTitle" class="card-title center" style="font-size: 30px;">Total Count</p>
                                <h1 style="font-size:30px" class="card-title" id="totalCount">{{"{:,}".format(int(total_count))}}</h1>
                            </div>
                        </div>
            </div>
            <script type="application/javascript">
                gates_names_list = [];
            </script>
            <div class="row">
                    {% for gate in gates %}
                        {% block gates %}
                            <div class= "col m6">
                                <div class="card {{theme_accent}} center z-depth-3">
                                    <div class="card-content {{theme_text}}-text center">
                                        <span class="card-title center" style="font-size:30px">{{ escape(gate['name']) }}</span><br>
                                        <script type="application/javascript">gates_names_list.push("{{escape(gate['name'])}}") </script>
                                        <span class="card-title center" style="font-size:21px" id="{{escape("timestamp"+str(gates.index(gate)+1))}}">{{ escape(datetime.datetime.fromtimestamp(gate['last_sync']).strftime('%d %b %Y %I:%M:%S %p')) }}</span><br>
                                        <span class="card-title center" style="font-size:30px" id="{{escape("count"+str(gates.index(gate)+1))}}">{{ "{:,}".format(int(escape((str(gate['count']))))) }}</span><br>
                                    </div>
                                </div>
                            </div>
                        {% end %}
                    {% end %}
            </div>
            
            <div id="range_graph_div">
                <div class="row">
                    <div class="col m4 s4">
                        <div class="card teal center z-depth-2">
                            <div class="card-content white-text center">
                                <span class="card-title center" id="input_high" style="font-size:20px;" style="margin-top:-10px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col m4 s4">
                        <div class="card teal center z-depth-2">
                            <div class="card-content white-text center">
                                <span id="input_low" class="card-title center" style="font-size:20px;" style="margin-top:-10px;"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col m4 s4 center">-->
                    <a class="waves-effect waves-light btn-large center" id="barPlot_btn" style="margin-top:25px">Get Graph</a>
                    <!--</div>-->
                    </div>
                
                <div id="slider"></div>
            </div>
            <div id="overall_graph_div">
                <div class="row">
                    <div class="col m4 s4 center">
                        <div class="card teal center z-depth-2">
                            <div class="card-content white-text center">
                                <span class="card-title center" id="input_step" style="font-size:20px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col m4 s4 center">
                        <div class="card teal center z-depth-2">
                            <div class="card-content white-text center">
                                <span class="card-title center" id="input_range" style="font-size:20px;"></span>
                            </div>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-large center" id="barPlot_overall_btn">Get Graph</a>
                </div>
                <div id="slider_overall_step"></div>
                <div id="slider_overall_range"></div>
            </div>
                
            </div>
        </div>

        <!--Ashioto scripts-->
        <script type="application/javascript">
            eventCode = "{{eventCode}}";
        </script>
        <script type="text/javascript" src="{{ static_url("js_dashboard/websocket.js")}}"></script>
        <script type="text/javascript" src="{{static_url("js_dashboard/bargraph.js")}}"></script>
    </body>
</html>