<html>
    <head>
        <link rel="shortcut icon" href="ashioto.ico">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.css" rel="stylesheet">
        <link href="http://materializecss.com/extras/noUiSlider/nouislider.css" rel="stylesheet">


        <!--Import MaterializeCSS stylesheet-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{{event_title}}</title>
    </head>
    <body>
        <!--jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>

        <!--Slider-->
        <script type="text/javascript" src="https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.js"></script>

        <!--MaterializeCSS Scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

        <!--Ashioto scripts-->
        <script type="text/javascript" src="{{static_url("js_dashboard/dateformat.js")}}"></script>

        <!--Chart.js-->
        <script type="text/javascript" src="https://cdn.rawgit.com/chartjs/Chart.js/master/dist/Chart.min.js"></script>

        <!--Date Parse-->
        <script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
        <style>
            { margin: 0; padding: 0; }
            /*html {
                background: url('/img/{{background}}') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }*/
            </style>
            <!--Navigation Bar-->
        <nav>
            <div class="nav-wrapper {{theme_primary}} z-depth-3">
                <!-- <img class="brand-logo center hoverable" src="/img/{{logo_name}}" style="width:280px;height:64px;"/> -->
                <h4 class="center">{{event_title}}</h4>
            </div>
        </nav><br>
        <style>
            .nav-wrapper h4{
                margin-top: 0;
                padding-top: 15px;
            }
        </style>
        <div class="container">
            <div class="row" id="cards_head">
                        <div class="card {{theme_accent}} hoverable">
                            <div class="card-content {{theme_text}}-text center">
                                <p id="totalCountTitle" class="card-title center" style="font-size: 30px;">Total Count</p>
                                <h1 style="font-size:30px" class="card-title" id="totalCount">{{"{:,}".format(int(total_count))}}</h1>
                            </div>
                        </div>
            </div>
            <script type="application/javascript">
                gates_names_list = [];
            </script>
            <div class="row">
                {% if len(gates)>1 %}
                    {% for gate in gates %}
                        {% block gates %}
                            <div class= "col m12">
                                <div class="card {{theme_accent}} center hoverable">
                                    <div class="card-content {{theme_text}}-text center">
                                        <span class="card-title center" style="font-size:30px">{{ escape(gate['name']) }}</span><br>
                                        <script type="application/javascript">gates_names_list.push("{{escape(gate['name'])}}") </script>
                                        <span class="card-title center" style="font-size:21px" id="{{escape("timestamp"+str(gates.index(gate)+1))}}">{{ escape(datetime.datetime.fromtimestamp(gate['last_sync']).strftime('%d %b %Y %I:%M:%S %p')) }}</span><br>
                                        <span class="card-title center" style="font-size:30px" id="{{escape("count"+str(gates.index(gate)+1))}}">{{ "{:,}".format(int(escape((str(gate['count']))))) }}</span><br>
                                    </div>
                                </div>
                            </div>
                        {% end %}
                    {% end %}
                {% else %}
                    <script type="application/javascript">
                        $("#cards_head").remove();
                    </script>
                    {% for gate in gates %}
                        {% block gates %}
                            <div class= "col m{{size}}">
                                <div class="card {{theme_accent}} center hoverable">
                                    <div class="card-content {{theme_text}}-text center">
                                        <span class="card-title center" style="font-size:30px">{{ escape(gate['name']) }}</span><br>
                                        <script type="application/javascript">gates_names_list.push("{{escape(gate['name'])}}") </script>
                                        <span class="card-title center" style="font-size:21px" id="{{escape("timestamp"+str(gates.index(gate)+1))}}">{{ escape(datetime.datetime.fromtimestamp(gate['last_sync']).strftime('%d %b %Y %I:%M:%S %p')) }}</span><br>
                                        <span class="card-title center" style="font-size:30px" id="{{escape("count"+str(gates.index(gate)+1))}}">{{ "{:,}".format(int(escape((str(gate['count']))))) }}</span><br>
                                    </div>
                                </div>
                            </div>
                        {% end %}
                    {% end %}
                {% end %}
            </div>
            <ul id="range_graph_ul" class="collapsible white" data-collapsible="expandable" hidden="hidden">
                <li>
                    <div class="collapsible-header blue-grey darken-3 white-text center" onclick="scrollToOverall()">Range Graph</div>
                    <div class="collapsible-body" id="range_graph_div">
                <div class="row center-align" style="margin-left:20px">
                    <div class="col m4 s4">
                        <div class="card teal center z-depth-2">
                            <div class="card-content white-text center">
                                <span class="card-title center" id="input_high" style="font-size:20px;" style="margin-top:-10px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col m4 s4">
                        <div class="card teal center z-depth-2">
                            <div class="card-content white-text center">
                                <span id="input_low" class="card-title center" style="font-size:20px;" style="margin-top:-10px;"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col m4 s4 center">-->
                    <a class="waves-effect waves-light btn-large center" id="barPlot_btn" style="margin-top:25px" onclick="scrollToRange()">Get Graph</a>
                    <!--</div>-->
                </div>

                <div id="slider"></div>
            </div>
                </li>
            </ul>
            <ul id="overall_graph_ul" class="collapsible white" data-collapsible="expandable">
                <li>
                    <div onclick="scrollToOverall()" class="collapsible-header blue-grey darken-3 white-text center">Overall Graph</div>
                    <div class="collapsible-body" id="overall_graph_div" style="padding-bottom:10px;">
                <div class="row center-align" style="margin-left:20px">
                    <div class="col m4 s4 center" id="card_step">
                        <div class="card blue-grey darken-3 center z-depth-2">
                            <div class="card-content white-text center">
                                <span>Data Step</span><br>
                                <span class="card-title center" id="input_step" style="font-size:20px;"></span>
                                <div id="slider_overall_step"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col m4 s4 center" id="card_range">
                        <div class="card blue-grey darken-3 center z-depth-2">
                            <div class="card-content white-text center">
                                <span>Data Range</span><br>
                                <span class="card-title center" id="input_range" style="font-size:20px;"></span>
                                <div id="slider_overall_range" style="margin-top:5px;"></div>
                            </div>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-large center" id="barPlot_overall_btn" style="margin-top:25px">Get Graph</a>

                </div>
                <form action="#" id="radiogroup_time" class="center">
                    <span hidden="hidden">
                        <input name="group1" type="radio" id="radio_event_start" value="event" checked>
                        <label for="radio_event_start">Show From Event Start</label>
                    </span>
                    <span>
                        <input name="group1" type="radio" id="radio_time_start" value="current">
                        <label for="radio_time_start">From Current Time</label>
                    </span>
                    <span>
                        <input name="group1" type="radio" id="radio_time_day_one" value="day_one">
                        <label for="radio_time_day_one">Day Stats</label>
                    </span>
                    <span>
                        <input name="group1" type="radio" id="radio_time_day_between" value="day_between">
                        <label for="radio_time_day_between">Between Days</label>
                    </span>
                </form>
                <input hidden="true" type="date" class="datepicker picker__input picker__input--active" id="date_one" placeholder="Select Date To Show Stats Of">
                <input hidden="true" type="date" class="datepicker picker__input picker__input--active" id="date_two" placeholder="Select End Date">
                <a id="chart_download" hidden="hidden">Download as PNG</a>
                <div class="progress" id="chart_loader2" hidden="hidden">
                    <div class="indeterminate" hidden="hidden" id="chart_loader"></div>
                </div>
            </div>
                </li>
            </ul>
            </div>
        </div>

        <!--Ashioto scripts-->
        <script type="application/javascript">
            eventCode = "{{eventCode}}";
        </script>
        <script type="text/javascript" src="{{ static_url("js_dashboard/websocket.js")}}"></script>
        <script type="text/javascript" src="{{static_url("js_dashboard/bargraph.js")}}"></script>
    <script type="text/javascript" src="{{static_url("js_dashboard/datePicker.js")}}"></script>
    </body>
</html>
