<html>
<head>
  <title>Ashioto - Footfall Re-imagined</title>
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="/static/css/main.css">
  <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</head>
<body>

  <header class="site-header">
      <div class="navbar-fixed">
        <nav class="teal">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Ashioto - Footfall Re-imagined</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#about" class="onNav waves-effect waves-light">About</a></li>
              <li><a href="#implementations" class="onNav waves-effect waves-light">Implementations</a></li>
              <li><a href="#team" class="onNav waves-effect waves-light">Team</a></li>
            </ul>
          </div>
        </nav>
      </div>
  </header>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="flipper center">
        <div class="cardFlip center">
            <div class="front"><h1 style="color: #fff; font-weight: 200; margin-right: 20px;">You see</h1><img width="200px" src="/static/img/footprint.png" /></div>
            <div class="back"><h1 style="color: #fff; font-weight: 200; margin-right: 20px;">We see</h1><img width="200px" src="/static/img/icon_analytics.png" /></div>
        </div>
      </div>
    </div>
  </div>

  <!--About-->
  <div class="section scrollspy" id="about">
      <div class="container">
          <h2 class="header text_b"> About </h2>
          <h5 class="text_h2">
            Ashioto was conceptualized during the 'KumbhaThon' workshop organized by MIT Media Lab in Jan 2014.<br />
            It was held in Nashik, India to solve problems at Kumbh Mela - the world's largest crowd gathering.<br />
            It is an intelligent crowd counting system which draws insights from foot traffic data.
          </h5>
      </div>
  </div>

  <!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="/static/img/kumbh_parallax.jpg"></div>
</div>

  <!--Implementations-->
  <div class="section scrollspy" id="implementations">
      <div class="container">
          <h2 class="header text_b"> Implementations </h2>
          <h3 class="text_h2">
            A list of places Ashioto has been to:
          </h3>
          <ul>
            <li>
              <h4>Nashik Kumbh Mela 2015</h4>
            </li>
            <li>
              <h4>Maratha Rally 2016, Nashik</h4>
            </li>
            <li>
              <h4>OBC Rally 2016, Nashik</h4>
            </li>
          </ul>
      </div>
  </div>

  <!--Team-->
  <div class="section scrollspy" id="team">
      <div class="container">
          <h2 class="header text_b"> Our Team </h2>
          <div class="row">
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar_nilay.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Nilay Kulkarni <br/>
                              <small><em><a class="red-text text-darken-1" href="#">The Code Monkey</a></em></small></span>
                          <p>
                              <a class="teal-text text-lighten-2" target="_blank" href="https://www.facebook.com/1geek0">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a class="teal-text text-lighten-2" target="_blank" href="https://twitter.com/1geek0">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar_parikshit.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Parikshit Jadhav <br/>
                              <small><em><a class="red-text text-darken-1" href="#">The Business Guy</a></em></small>
                          </span>
                          <p>
                              <a class="teal-text text-lighten-2" target="_blank" href="https://www.facebook.com/parikshit.jadhav">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a class="teal-text text-lighten-2" target="_blank" href="https://twitter.com/ParikshitRaje">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar_narhari.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">
                              Narhari Chavan <br/>
                              <small><em><a class="red-text text-darken-1" target="_blank" href="#">The Electronics Wizard</a></em></small></span>
                          <p>
                              <a class="teal-text text-lighten-2" target="_blank" href="https://www.facebook.com/narhari.chavan">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar_dan.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Daniel Goodman<br/>
                              <small><em><a class="red-text text-darken-1" target="_blank" href="#">The Mentor</a></em></small></span>
                          <p>
                              <a class="teal-text text-lighten-2" target="_blank" href="https://www.facebook.com/daniel.goodman.1232">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                                <a class="teal-text text-lighten-2" target="_blank" href="https://twitter.com/d_h_goodman">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function(){
      $('.scrollspy').scrollSpy();
      $('.parallax').parallax();
    });
  </script>

</body>
</html>
